/*--------------------------------------*/
/* Global stylings */
/*--------------------------------------*/

html {
	font-size: 100%;
}

body {
	margin: 0;
	--color-nav: #fff;
	--color-text: #ff00c4;
	--color-link: #59545e;
	--color-text: #f6fcff;
	--color-bg: #00161f;
	--color-link: #eaf8e9;
	--color-link-hover: #f6fcff;
	--color-slide-text: #f6fcff;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: 'Montserrat Alternates', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: block;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

/*--------------------------------------*/
/* Font stylings */
/*--------------------------------------*/

:root {
	/* Step -8: 10.71px → 3.36px */
	--step--8: clamp(0.21rem, 0.8006rem + -0.6562vw, 0.6694rem);
	/* Step -7: 11.43px → 4.19px */
	--step--7: clamp(0.2619rem, 0.8437rem + -0.6464vw, 0.7144rem);
	/* Step -6: 12.20px → 5.24px */
	--step--6: clamp(0.3275rem, 0.8868rem + -0.6214vw, 0.7625rem);
	/* Step -5: 13.02px → 6.55px */
	--step--5: clamp(0.4094rem, 0.9293rem + -0.5777vw, 0.8138rem);
	/* Step -4: 13.89px → 8.19px */
	--step--4: clamp(0.5119rem, 0.9699rem + -0.5089vw, 0.8681rem);
	/* Step -3: 14.82px → 10.24px */
	--step--3: clamp(0.64rem, 1.008rem + -0.4089vw, 0.9263rem);
	/* Step -2: 15.81px → 12.80px */
	--step--2: clamp(0.8rem, 1.0419rem + -0.2687vw, 0.9881rem);
	/* Step -1: 16.87px → 16.00px */
	--step--1: clamp(1rem, 1.0699rem + -0.0777vw, 1.0544rem);
	/* Step 0: 18.00px → 20.00px */
	--step-0: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem);
	/* Step 1: 19.21px → 25.00px */
	--step-1: clamp(1.2006rem, 1.0972rem + 0.517vw, 1.5625rem);
	/* Step 2: 20.49px → 31.25px */
	--step-2: clamp(1.2806rem, 1.0885rem + 0.9607vw, 1.9531rem);
	/* Step 3: 21.87px → 39.06px */
	--step-3: clamp(1.3669rem, 1.0599rem + 1.5348vw, 2.4413rem);
	/* Step 4: 23.33px → 48.83px */
	--step-4: clamp(1.4581rem, 1.0028rem + 2.2768vw, 3.0519rem);
	/* Step 5: 24.89px → 61.04px */
	--step-5: clamp(1.5556rem, 0.9101rem + 3.2277vw, 3.815rem);
}

/*--------------------------------------*/
/* Page stylings */
/*--------------------------------------*/

.demo-5 {
	--font-trail-height: 1;
	--font-trail-family: "Syncopate", sans-serif;
}

/*--------------------------------------*/
/* Page loader  */
/*--------------------------------------*/

.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1);
	}
}

/*--------------------------------------*/
/* Hyperlinks */
/*--------------------------------------*/

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
}
